---
import BaseLayout from "@/layout/baseLayout.astro";
import SideImageTextLayout from "@/layout/sideImageTextLayout.astro";
import { SimpleCard } from "../../components/ui/simple-card";
import { LinkCard } from "@/components/ui/link-card";
import Card from "@/models/Card";
import type Race from "@/models/Race";
import Armor from "@/enums/Armor";

import steps from "@/database/step.json";
import prototypes from "@/database/prototype.json";

const pageTitle: string = "Création du héros";

const formatInfoRace = (race: Race, key: number) => {
  return `<SideImageTextLayout image={race.image} title={race.name} reverse={key % 2 !== 0}>
    <p>{race.description}</p>

    <h3>Compétence raciale</h3>
    <ul>
    {
        race.racialSkills.map(skill => <li>{skill.description}</li>)
    }
    </ul>

    <h3>Maîtrise d'armure</h3>
    <ul>
    {
        race.armorType.map(type => <li class="capitalize">{type}</li>)
    }
    </ul>

    {
        race.additionalInfo &&
        <div>
            <h3>Notes supplémentaires</h3>
    <Fragment set:html={race.additionalInfo} />
    </div>
    }
    </SideImageTextLayout>`;
};

const mortalRaces: Race[] = [
  {
    name: "Humain",
    description:
      "Les humains, véritables acteurs de la scène d'Eindhill, sont présents dans toutes les strates de la société. " +
      "Leurs royaumes florissants abritent des cultures distinctes, des cités marchandes aux bastions royaux. Dotés de compétences polyvalentes, " +
      "les humains excellent dans une gamme étendue de professions, des arts magiques aux métiers artisanaux. ",
    image: "/images/races/race-humain.jpg",
    racialSkills: [
      {
        name: "Instinct de Survie",
        description:
          "Si un coup doit vous conduire à 0 PV, une fois par combat, " +
          "vous utilisez votre compétence raciale automatiquement, divisant ainsi les dégâts subis de l'attaque par 2 ! " +
          "(1 pt de dégât obligatoire). +4 pts de Compétence.",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
  },
  {
    name: "Titanien",
    description:
      "Semi-géants par nature, ils incarnent la grandeur et la puissance dans ce monde fantastique. Leurs terres sont le " +
      "foyer de sociétés robustes, où la force physique et la sagesse sont vénérées de manière égale. Des bastions imposants émergent au " +
      "sein de vastes contrées, révélant une richesse culturelle distincte.",
    image: "/images/races/race-titanien.jpg",
    racialSkills: [
      {
        name: "Peuple des Géants",
        description:
          "Augmente le jet d'Athlétisme et d'Intimidation de +2, il gagne [+2 Con ] , " +
          "Cependant, sa vitesse de déplacement est réduite. [-2 Dex]. " +
          "Son total de point de vie augmente de +3",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
  },
  {
    name: "Unathopien",
    description:
      "Doté d'une polyvalence dans les compétences, il s'adapte aisément à l'évolution rapide de la société d'Unathopia, " +
      "participant activement à la prospérité de cette métropole. En tant que fervent partisan de Thédès, le Premier Né du Temps, " +
      "il honore les principes de progrès et de perfection, cherchant à transcender les limites technologiques avec un dévouement absolu " +
      "envers l'avancement de sa cité.",
    image: "/images/races/race-unathopien.jpg",
    racialSkills: [
      {
        name: "Ingéniosité de l'Engrenage - Seuil 0",
        description:
          "Bonus de +2 en Escamotage et Investigation, démontrant un sens aigu de la perception et de la déduction liées à " +
          "l'ingénierie. DM multipliés par deux contre les dégâts de foudre.",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE],
    additionalInfo: `
            <p>
                [Ingéniosité de l'Engrenage]  qu’on nommera : [IdE] est une caractéristique unique qui représente le degré de mécanisation du
                corps du personnage Unathopien.
            </p>
            <p>
                Cette compétence est subdivisée en six niveaux, chacun correspondant à un certain seuil de mécanisation.
            </p>

            <ul>
                <li><span class="font-bold">Seuil 0 :</span> 0% = [IdE]</li>
                <li><span class="font-bold">Seuil 1 :</span> 15% = [IdE] +1 en ATK [Phy, Mag ou Dis] / -1 ATK [Phy, Mag ou Dis]</li>
                <li><span class="font-bold">Seuil 2 :</span> 25% = [IdE] +2 en ATK [Phy, Mag ou Dis] / -2 ATK [Phy, Mag ou Dis]</li>
                <li><span class="font-bold">Seuil 3 :</span> 50% = [IdE] +3 en ATK [Phy, Mag ou Dis] / -3 ATK [Phy, Mag ou Dis]</li>
                <li><span class="font-bold">Seuil 4 :</span> 70% = [IdE] +4 en ATK [Phy, Mag ou Dis] / -4 ATK [Phy, Mag ou Dis]</li>
                <li><span class="font-bold">Seuil 5 :</span> 100% = [IdE] +5 en ATK [Phy, Mag ou Dis] / -5 ATK [Phy, Mag ou Dis]</li>
            </ul>
        `,
  },
];

const elderRaces: Race[] = [
  {
    name: "Ein",
    description:
      "Les Eins, habitants des îles scindées de Pantropeira, sont les premiers êtres à avoir peuplé Eindhill " +
      "autrefois. Leur essence noble et éthérée équivaut à l'élégance des elfes dans d'autres récits fantastiques, " +
      'mais ici, ils portent le nom distinctif de "Eins".',
    image: "/images/races/race-ein.jpg",
    racialSkills: [
      {
        name: "Lumière du Fondateur",
        description:
          "Un Ein est insensible aux dégâts de Lumière, il possède un bonus de +2 via sa Caste, " +
          "représentant ses connaissances. Cependant, les dégâts de type Chaos sont doublés ! Son total de mana " +
          "augmente de +3",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
    additionalInfo: `
            <p>
                Les Eins sont divisées en plusieurs castes,  chacune  étant associée à un astre particulier ou alors une
                divinité tutélaire.
            </p>
            
            <h4 class="text-primary">Imperien</h4>
            <p>
                Les Imperiens sont une caste affiliée à un groupe ou une famille qui ne suit ni Valanor ni Ithil, les
                deux astres principaux de l'univers. Ils sont donc indépendants de l'influence des astres et peuvent
                représenter une faction neutre. 
            </p>
            <p>Bonus accordé : Offre un bonus de +2 en Histoire et Représentation.</p>
            
            <h4 class="text-primary">Solaréen</h4>
            <p>
                Les Solaréens sont des Hauts-Eins affiliés au peuple du Soleil, représenté par Valanor. Ils sont fidèles
                à cet astre et peuvent être culturellement, politiquement ou religieusement liés à lui. Leur identité et
                leurs valeurs peuvent être fortement influencées par cette affiliation solaire.
            </p>
            <p>Bonus accordé : Offre un bonus de +2 en Athlétisme et Intimidation.</p>
            
            <h4 class="text-primary">Lunaréen</h4>
            <p>
                Les Lunaréens, quant à eux, sont associés à l'astre de la nuit, représenté par Ithil. Ils sont en accord
                avec les valeurs, les croyances ou les pratiques liées à cet astre. 
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Médecine et Discrétion, ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Miragardien</h4>
            <p>
                Les Miragradiens sont les habitants éminents d'Elvinor, imprégnés de la magie d'Enarielle qui coule à
                travers leurs veines. En tant que maîtres de la magie, leur connexion profonde avec les arcanes les place
                au sommet.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Arcane et Perception Magique , ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Phynomien</h4>
            <p>
                Les Phynomiens habitent les bosquets d'Eindhill, établissant un lien étroit avec Avalon et la nature qui
                les entoure. Gardiens des forêts, ils sont dotés d'une communion profonde avec les créatures et les
                esprits de la forêt.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 Nature et Dressage, ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Eyrellien</h4>
            <p>
                Les Eyrelliens incarnent la justice et l'honneur au nom d'Encarnacion en tant que Chevaliers de Lumière
                du Sanctuaire. Représentant la vertu, leur engagement envers la lumière guide leurs actions. 
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Religion et Histoire</p>
            
            <h4 class="text-primary">Océanien</h4>
            <p>
                Les Océaniens résident dans le Cœur des Océans, établissant des liens étroits avec les étendues d'eau
                qui les entourent. Leur connexion profonde avec les mers et les océans fait d'eux d'excellents
                navigateurs et protecteurs des fonds marins. Vivant depuis la cité du Cœur, ils honorent Yndraosa.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Survie et Athlétisme  + Respiration Aquatique.</p>
        `,
  },
  {
    name: "Lyein",
    description:
      "Les Lyeins (Les Eins Noirs), sont des êtres énigmatiques et mystérieux, évoluant dans les ombres " +
      "et les recoins obscurs des Limbes, Les Elfes Noirs, habitants des terres ténébreuses et complexes, se " +
      "répartissent en quatre factions, chacune dédiée à une entité sombre et puissante.",
    image: "/images/races/race-lyein.jpg",
    racialSkills: [
      {
        name: "Lignée Chaotique",
        description:
          "Un Ein de la Lignée Chaotique est insensible aux dégâts de Chaos, il possède un bonus de " +
          "+2 via sa Caste, représentant ses connaissances. Cependant, les dégâts de type Lumière sont " +
          "doublés ! Son total d’endurance augmente de +3",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
    additionalInfo: `            
            <h4 class="text-primary">Eternien</h4>
            <p>
                Les Eterniens, fervents partisans de la Reine Araignée Eternia, sont maîtres dans les arts de l'intrigue 
                et du voile. Arborant des oreilles pointues, une peau violacée et des yeux rosés, ils tissent des toiles 
                complexes de pouvoir et de subterfuge dans l'ombre. Leur connexion avec la Toile de l'Araignée leur confère 
                une habileté unique à naviguer dans les mystères et les complots qui tissent le tissu de leur existence.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Tromperie et Persuasion, ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Athréen</h4>
            <p>
                Les Athréens, partisans de la destruction et du ravage, vouent leur allégeance à Ketur, le maître du 
                chaos. Reconnaissables par leurs oreilles pointues, peau sombre et yeux sombres, les Athréens cherchent 
                à semer le désordre et la discorde, répandant le chaos dans le monde qui les entoure. Leur lignée chaotique 
                les guide vers des actes de destruction, faisant d'eux des agents du déséquilibre.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Arcane et Religion.</p>
            
            <h4 class="text-primary">Arcadien</h4>
            <p>
                Les Arcadiens, descendants des entités Atréus et Arethis, incarnent la dualité du destin et de l'épine. 
                Caractérisés par leurs oreilles pointues, peau grise et yeux orange, les Arcadiens excellent dans les arts 
                de la discrétion et de la prédiction. Leur héritage sinistre les conduit souvent à utiliser leurs dons 
                pour des desseins mystérieux et sombres, faisant d'eux des acteurs intrigants dans les jeux du destin. 
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Discrétion et Intuition , ne porte pas d’armures lourdes.</p>
        `,
  },
  {
    name: "Nain",
    description:
      "Les Nains sont généralement caractérisés par leur petite taille, leur robustesse physique, leur " +
      "talent pour l'artisanat et leur amour pour les richesses souterraines. Originaires des montagnes, les " +
      "nains sont réputés pour leur maîtrise de la forge, leur habileté à travailler les métaux et leur ingéniosité " +
      "dans la construction d'ouvrages souterrains complexes.",
    image: "/images/races/race-nain.jpg",
    racialSkills: [
      {
        name: "Né de la Montagne",
        description:
          "Les individus nés de la Montagne sont compétents dans l'utilisation de toutes les armes," +
          "quelle que soit leur classe ou leur spécialisation. Il gagne un bonus selon son clan de provenance" +
          "et un bonus de +2 à son score d'attaque. (Physique, À Distance ou Magique.)",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
    additionalInfo: `            
            <h4 class="text-primary">Clan de provenance</h4>
            
            <h4 class="text-primary">Hurle-Dragon</h4>
            <p>
                Nains Guerriers de Hjalmar, sont une lignée de Nains fortement orientée vers la guerre et les monteurs 
                de Dragons. Ils sont réputés pour leur courage indomptable sur le champ de bataille, maniant haches, 
                marteaux et autres armes naines avec une maîtrise exceptionnelle.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Dressage et Athlétisme.</p>
            
            <h4 class="text-primary">Givre-Né</h4>
            <p>
                Les Givre-Né, ou Nains des Cavernes, sont des experts dans l'exploitation des profondeurs souterraines.
                Leur habileté à naviguer dans les labyrinthes complexes des cavernes et des mines en fait d'excellents 
                mineurs, découvreurs de trésors cachés et défenseurs des royaumes souterrains.
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Survie et Nature , ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Kyn'Taris</h4>
            <p>
                Les Kyn'Taris sont une caste particulière parmi les Nains, embrassant le chemin monastique dédié à Kytan.
                Ces Nains moines consacrent leur vie à l'idéalisme, une philosophie qui suggère que si le Divin peut être
                mortel, alors le Mortel peut atteindre la divinité. Ils combinent astucieusement leur discipline spirituelle 
                avec les compétences d'ingénierie naine, créant ainsi une harmonie entre la sagesse sacrée et la technologie. 
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Religion et Acrobatie , ne porte pas d’armures lourdes.</p>
            
            <h4 class="text-primary">Atrevin</h4>
            <p>
                Les Atrevins, Nains de l'Âtre Foyer, excellent dans l'artisanat de la pierre et de la métallurgie. Leurs 
                cités, taillées dans les montagnes, abritent des forges ardentes où les Atrevins forgent des armes et des 
                armures renommées. 
            </p>
            <p>Bonus accordé  : Offre un bonus de +2 en Escamotage et Histoire .</p>
        `,
  },
];

const hybrideRaces: Race[] = [
  {
    name: "Sylvaloniens",
    description:
      "Les Sylvaloniens sont une race de créatures singulières touchées par la peste verte, une maladie " +
      "mystérieuse et dévastatrice qui transforme progressivement leur corps en une forme arbustive ou arborescente. " +
      "Jadis semblables à des humains, les Sylvaloniens subissent une métamorphose lente et inexorable, leur peau " +
      "prenant une teinte verdâtre, leurs membres s'ossifiant et se transformant en branches.",
    image: "/images/races/race-sylvalonien.jpg",
    racialSkills: [
      {
        name: "Touché par la Peste Verte",
        description:
          "Les individus touchés par la Peste Verte bénéficient d'une constitution renforcée mais " +
          "leur agilité en est diminuée. Ils sont plus vulnérables aux flammes.",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE],
    additionalInfo: `
            <h4 class="text-primary">Touché par la Peste Verte</h4>
            
            <h4 class="text-primary">Bonus de +2 en Constitution</h4>
            <p>
                Confère une résistance accrue aux maladies, aux blessures et aux épreuves physiques.
            </p>
            
            <h4 class="text-primary">Malus de -2 en Dextérité</h4>
            <p>
                Affectant la réactivité et la précision des individus touchés.
            </p>
            
            <h4 class="text-primary">Bonus de +2 (en choisir deux) en Survie, Nature, Médecine</h4>
            <p>
                En raison de leur connexion renforcée avec la nature, les individus touchés peuvent choisir deux 
                compétences parmi Survie, Nature et Médecine dans lesquelles ils excellent particulièrement, bénéficiant 
                d'une expertise accrue dans ces domaines.
            </p>
            
            <h4 class="text-primary">Immunité aux dégâts de nature, maladie et poison</h4>
            <p>
                Les individus touchés par la Peste Verte sont insensibles aux effets des dégâts de nature, des maladies 
                et des poisons, grâce à leur constitution altérée par la maladie.
            </p>
            
            <h4 class="text-primary">Vulnérabilité aux dégâts de feu</h4>
            <p>
                Cependant, ils sont particulièrement sensibles aux dégâts de feu, prenant le double de dégâts en cas 
                d'exposition à des flammes.
            </p>
        `,
  },
  {
    name: "Demi-Eins",
    description:
      "Les Demi-Ein sont une fusion harmonieuse entre les mystérieux Eins et les polyvalents Humains, " +
      "héritant des traits distincts de chacune de ces races. Il existe plusieurs variantes de Demi-Ein, chacune " +
      "portant les marques spécifiques de son ascendance.",
    image: "/images/races/race-demi-ein.jpg",
    racialSkills: [
      {
        name: "Double Ascendance",
        description:
          "Les individus dotés de la Double Ascendance héritent à la fois de l'instinct de survie " +
          "des humains et des traits distinctifs des elfes, en fonction de leur lignée elfique spécifique ainsi " +
          "que sa maîtrise d’armure.",
        image: null,
      },
    ],
    armorType: [Armor.LIGHT, Armor.INTERMEDIATE, Armor.HEAVY],
    additionalInfo: `
            <h4 class="text-primary">Double ascendance</h4>
            
            <h4 class="text-primary">Instinct de Survie</h4>
            <p>
                Si un coup doit vous conduire à 0 PV, une fois par combat, vous utilisez votre compétence raciale 
                automatiquement, divisant ainsi les dégâts subis de l'attaque par 2 ! (1 pt de dégât obligatoire).
            </p>
            
            <h4 class="text-primary bold">choisir une des lignées ci-dessous (Voir Races Anciennes)</h4>
            <ul>
                <li>
                    <h5>Lignée Chaotique</h5>
                    <p>
                        Insensible aux dégâts de Chaos, il possède un bonus de +2 via sa Caste. 
                        Cependant, les dégâts de type Lumière sont doublés !  +3 Endurance
                    </p>
                </li>
                <li>
                    <h5>Lumière du Fondateur</h5>
                    <p>
                        Insensible aux dégâts de Lumière, il possède un bonus de +2 via sa Caste. Cependant, 
                        les dégâts de type Chaos sont doublés !  +3 Mana
                    </p>
                </li>
            </ul>
        `,
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <section class="container mb-6">
    <header class="mb-12">
      <h2>{pageTitle}</h2>

      <h3 class="text-center">Les races</h3>

      <p>
        Les mondes d'Eindhill sont d'une incroyable diversité, peuplé par une
        myriade de races, chacune avec ses propres caractéristiques uniques et
        son histoire riche. Ces races jouent un rôle fondamental dans la trame
        complexe de l'univers, influençant les événements majeurs et contribuant
        à la richesse culturelle.
      </p>
    </header>

    <div class="mb-12">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        {
          prototypes.map((prototype) => (
            <SimpleCard
              title={prototype.title}
              content={prototype.content}
              image={prototype.image}
            />
          ))
        }
      </div>
    </div>

    <div class="mb-12">
      <h4 class="text-primary">Races mortelles</h4>

      <div class="flex flex-col gap-10">
        {
          mortalRaces.map((race, key) => (
            <SideImageTextLayout race={race} reverse={key % 2 !== 0} />
          ))
        }
      </div>
    </div>

    <div class="mb-12">
      <h4 class="text-primary">Races anciennes</h4>

      <div class="flex flex-col gap-10">
        {
          elderRaces.map((race, key) => (
            <SideImageTextLayout race={race} reverse={key % 2 !== 0} />
          ))
        }
      </div>
    </div>

    <div class="mb-12">
      <h4 class="text-primary">Races hybrides</h4>

      <div class="flex flex-col gap-10">
        {
          hybrideRaces.map((race, key) => (
            <SideImageTextLayout race={race} reverse={key % 2 !== 0} />
          ))
        }
      </div>
    </div>

    <div class="mb-12">
      <h3>Prochaines étapes !</h3>
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        {
          steps
            .filter((step) => step.code === "CLASSE")
            .map((card) => (
              <LinkCard
                image={card.image}
                title={card.title}
                content={card.content}
                textLink={card.textLink}
                url={card.url}
              />
            ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
